# Importing Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Creating path

path = r'C:\Users\stefa\15-02-2022 Instacart Basket Analysis'

In [3]:
# Importing Requested Data Orders and Orders Prio 

df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleaned.csv'), index_col = False)

In [4]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'order_products__prior.csv'), index_col = False)

In [5]:
df_ords_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

# Check the Datafiles

In [8]:
# Check the Output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
# Check the Output

df_ords.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,First_order
0,0,0,2539329,1,1,2,8,NaN,True
1,1,1,2398795,1,2,3,7,15.0,False
2,2,2,473747,1,3,3,12,21.0,False
3,3,3,2254736,1,4,4,7,29.0,False
4,4,4,431534,1,5,4,15,28.0,False

In [10]:
# Shape

df_ords_prior.shape

(32434489, 4)

In [11]:
df_ords.shape

(3421083, 9)

# Merging Dataframes

In [12]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [13]:
df_merged_large.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,order_time,days_since_prior_order,First_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [14]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [15]:
# Full match Check

In [16]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id',how = 'outer', indicator = True)

In [18]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [19]:
#If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise, do so now.

# Directions

Performed during the Exercise

In [20]:
# Export the merged file in pickle format as “orders_products_combined.pkl”.

In [21]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [ ]:
# Directions Continue in V2